.header ul {

    li a {
        font-family: $font_extra;
        font-weight: 700;
        color: white;
    }
}

@mixin header($width) {
    .header {
        width: 0.58 * $width;
        position: absolute;
        z-index: 999999;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0);

        ul {
            display: flex;
            justify-content: flex-end;
            margin-top: 0.03125 * $width;
            padding-left: 0;

            li {
                padding-bottom: 0.008125 * $width;
                margin-left: 0.0175 * $width;
                a {
                    font-size: 0.00875 * $width; 
                }
            } 

            li:hover {
                border-bottom: (0.00125 * $width) solid white;
            }
        }
    }
}

@mixin hamburger() {
    .header {
        position: fixed;
        z-index: 999999;
        width: 100%;
        font-size: 8vw;
        
        ul {
            position: absolute;
            display: flex;
            flex-direction: column;
            padding-left: 10%;
            padding-top: 10%;
            left: -60vw;
            transition-duration: 500ms;
            
            li {
                padding-top: 4vh;
            }

            &.active {
                transform: translateX(60vw);
            }
        }

        .hamburger {
            width: 8vw;
            height: 5vw;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            position: relative;
            top: 3vw;
            left: 3vw;
            &.active {
                .hamburger__item {
                    &:nth-child(2) {
                        transform: rotate(250deg);
                        opacity: 0;
                    }
                    &:nth-child(1) {
                        transform: rotate(405deg);
                        top: 6px;
                    }
                    &:nth-child(3) {
                        transform: rotate(-405deg);
                        top: -6px;
                    }
                }
            }
            &__item:nth-child(1),
            &__item:nth-child(2),
            &__item:nth-child(3) {
                width: 100%;
                border-bottom: 0.5vw solid white;
                transition: 500ms;
                position: relative;
                top: 0;
            }
        }

        .hamburger-box {
            width: 60vw;
            height: 100vh;
            background: rgba(0, 0, 0, 0.65);
            position: absolute;
            top: 0px;
            left: -60vw;
            z-index: -99999999999999;
            transition-duration: 500ms;
            &.active {
                transform: translateX(60vw);
            }
        }
    }
}

@media (min-width: 1920px) {
    @include header(2560px);
}

@media (min-width: 1680px) and (max-width: 1920px) {
    @include header(1920px);
}

@media (min-width: 1536px) and (max-width: 1680px) {
    @include header(1680px);
}

@media (min-width: 1367px) and (max-width: 1536px) {
    @include header(1536px);
}

@media (min-width: 1280px) and (max-width: 1367px) {
    @include header(1366px);
}

@media (min-width: 1024px) and (max-width: 1280px) {
    @include header(1280px);
}

@media (max-width: 1024px) and (orientation: landscape) {
    @include header(1024px);
}

@media (max-width: 1024px) and (orientation: portrait) {
    @include hamburger();
}

/*

@mixin header-phone() {
    .header-menu__btn {
        display: flex; 
        align-items: center;  
        position: fixed;
        top: 20px;
        left: 20px;  width: 26px;
        height: 26px;  cursor: pointer;
        z-index: 1;
    }

    .header-menu__btn > span,
    .header-menu__btn > span::before,
    .header-menu__btn > span::after {
        display: block;
        position: absolute;  width: 100%;
        height: 2px;  background-color: #616161;
    }
      
    .header-menu__btn > span::before {
        content: '';
        top: -8px;
    }
    
    .header-menu__btn > span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;  width: 300px;
        height: 100%;  margin: 0;
        padding: 80px 0;  list-style: none;
        text-align: center;  background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    }
    
    .menu__item {
        display: block;
        padding: 12px 24px;  color: #333;  font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;  text-decoration: none;
    }

    .menu__item:hover {
        background-color: #CFD8DC;
    }
}

*/