@font-face {
    font-family: Nexa;
    src: url(./../font/nexabold.ttf)
}

@font-face {
    font-family: NexaHeavy;
    src: url(./../font/nexaheavy.ttf);
}

@font-face {
    font-family: FontAwesome;
    src: url(./../font/fontawesome.otf);
}

html {
    scroll-behavior: smooth;
}

body:after {
    content: 
        url(./../img/button-bg.png) 
        url(./../img/banner-button-bg.png) 
        url(./../img/banner-button-bg2.png)
        url(./../img/button_intr_hover.png)
        url(./../img/button-descr-hover.png)
    ;
    position:absolute; 
    width:0; 
    height:0; 
    overflow:hidden; 
    z-index:-1; 
}

ul li {
    list-style-type: none
}

a {
    text-decoration: none;
}

button {
    width: 220px;
    height: 60px;
    border: none;
    border-radius: 3px; 
    font-family: 'Nexa', sans-serif;
    color: white;
    cursor:pointer;
}

hr {
    border: 1px solid #e7eaf1;
    margin: 0;
}