.pricing-section {
    height: 1037px;
    border-bottom: 1px solid #e7eaf1;
    text-align: center;
}

.pricing-section__heading {
    margin: 82px auto 46px;
    color: #8e75bd;
}

.pricing-section__title {
    font-family: 'Sintony', 'sans-serif';
    font-size: 35px;
    font-weight: 100;
    margin: 0;
    margin-bottom: 15px;
}

.pricing-section__subtitle {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 15px;
    font-weight: 600;
    margin: 0;
}

.account-cards-wrap {
    display: flex;
    justify-content: space-between;
    width: 940px;
    height: 800px;
    margin: auto;
}

.account-block {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}

.account-card {
    display: flex;
    flex-flow: column;
    height: 699px;
    width: 460px;
    border-radius: 10px;
    font-family: 'Nexa', 'sans-serif';
}

.account-card__heading {
    border-radius: 10px 10px 0 0;
    background: #9178c1;
    height: 74px;
}

.account-card__heading h5 {
    background-image: -moz-linear-gradient( 90deg, rgb(0,0,0, 0.1) 0%, rgb(255,255,255, 0.1) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0, 0.1) 0%, rgb(255,255,255, 0.1) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(0,0,0, 0.1) 0%, rgb(255,255,255, 0.1) 100%);
    line-height: 74px;
    margin: 0px;
    color: white;
    font-family: 'NexaHeavy', 'sans-serif';
    font-size: 20px;
    font-weight: 100;
}

.account-card__main {
    height: 100%;
    border: 2px solid #e6e9f0;
    border-top: 0px;
    border-radius: 0 0 10px 10px;
    flex: 1 1 auto;
    padding-top: 33px;
}

.paid-card {
    box-shadow: 0px 0px 29px rgb(183,191,197, 0.3);
}

.paid-card .account-card__main {
    border: 3px solid #e1d9ef;
    border-top: 0px;
}

.account-card__decription {
    width: 280px;
    margin: auto;
    color: #8c8c8c;
}

.account-card__price {
    font-size: 40px;
    color: #44c5c7;
    position: relative;
    margin: 0;
    margin-top: 22px;
    margin-bottom: 17px;
}

.account-card__period {
    position: absolute;
    font-size: 18px;
    color: #b7bfc5;
    font-weight: 100;
    top: 50%;
    transform: translate(0, -50%);
    left: 61%;
}

.account-card__list {
    width: 340px;
    height: 358px;
    margin: auto;
    color: #b7bfc5;
    margin-bottom: 9px;
}

.account-card__list p {
    margin: 20px auto;
}

.account-card__list-line {
    height: 2px;
    background: #e7eaf1;
}

.account-card__button {
    display: block;
    width: 340px;
    height: 61px;
    border: solid 2px rgb(153, 128, 199);
    border-radius: 3px;
    line-height: 60px;
    margin: auto;
    color: #967dc4;
}

.account-card__button:hover {
    background: url(./../img/button-bg.png);
}

.paid-card .account-card__button {
    background: #947cc3;
    color: white;
}

.paid-card .account-card__button:hover {
    background: url(./../img/button-bg.png);
}

.check-icon {
    font-family: 'FontAwesome', 'fantasy';
    margin-left: 10px;
}

.account-card__users {
    font-family: 'Sintony', 'sans-serif';
    font-size: 18px;
    color: #9ca0ab;
    margin-top: 24px;
}

.account-card__users-count {
    font-size: 21px;
    color: #947cc3;
}