.banner-block {
    height: 370px;
    background: url(./../img/Layer_15.png);
    background-repeat: no-repeat;
    box-shadow: inset 0px 7px 10px -9px rgb(0, 0, 0, 0.5);
}

.banner-block__headline {
    margin: auto;
    color: white;
    text-align: center;
    width: 830px;
    padding-top: 80px;
    padding-bottom: 50px;
}

.banner-block__title {
    font-family: 'Sintony', sans-serif;
    font-weight: 100;
    font-size: 35px;
    margin: 0px;
    margin-bottom: 20px;
}

.banner-block__description { 
    margin: 0px;
    font-size: 15px;
    font-family: "Montserrat";
    text-align: center;
}

.banner-block a {
    width: 262px;
    height: 61px;
    line-height: 60px;
    display: block;
    font-family: 'Nexa', sans-serif;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
    margin: 0px;
}

.banner-block__buttons {
    padding-bottom: 80px;
    width: 503px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.banner-block__buy-button {
    background-image: linear-gradient(to bottom, #4ac7ca, #3cbec1);
    box-shadow: 0px 1px 1px #7963a3, inset 0px 1px 0px #81f5f8;
    text-shadow: 0px 1px #32aeb1;
}

.banner-block__buy-button:hover {
    background: url(./../img/banner-button-bg.png);
}

.banner-block__buy-button:active {
    box-shadow: 0px 2px #32abae, inset 0px 1px #81f5f8, 0 0 8px #e7eaf1;
}

.banner-block__buttons .banner-block__demo-button {
    border: solid 2px;
    width: 217px;
    height: 58px;
}

.banner-block__demo-button:hover {
    background: url(./../img/banner-button-bg2.png);
}
  
.video-block {
    height: 811px;
    background: url(./../img/video-block.png);
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
}

.video-block__play-button {
    position: absolute;
    background: url(./../img/play.png);
    width: 120px;
    height: 120px;
    top: 295px;
    border-radius: 50%;
}

.video-block__play-button:hover {
    filter: brightness(0.7);
}

.video-block__play-button:active {
    box-shadow: 0 0 8px #e7eaf1, inset -5px -5px 8px #e7eaf1;;
}